<footer class="footer">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-sm-12 ">
        <div class="footer-widget">
          <a class="mb-4 d-inline-block" href="{{ .Site.BaseURL }}">
            {{ if .Site.Params.logo }}
            <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
            {{ else }}
            <h2 class="mb-0 text-dark">{{ .Site.Title }}</h2>
            {{ end }}
          </a>
          <p class="mb-4">{{ .Site.Params.footer.content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row footer-btm mt-5 pt-4 border-top">
      <div class="col-lg-6">
        <!-- Copyright -->
        <p class="footer-copy">
          {{ .Site.Params.copyright | markdownify }}
        </p>
      </div>
    </div>
  </div>
</footer>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
const url = 'https://www.lulu.com/shop/pam-mcwilliams-and-emily-hulen-thompson/dexter-be-good/hardcover/product-6ne28j.html';
const purchase = document.querySelectorAll('.snipcart-add-item');
for (let i = 0; i < purchase.length; i++) {
  purchase[i].addEventListener('click', function () {
    window.open(url, '_blank').focus();
  });
}
</script>

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.googleAnalitycsID }}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}

<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-sm btn-main ml-2">I Accept</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>

<!-- cookie style -->
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
  padding: 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
{{ end }}
